{% set wrapper_class = wrapper_class|default('mb-0') %}

<!-- Civilité -->
<div class="{{ wrapper_class }}">
    {% if show_label is true %}
        <p class="mb-1">{{ label }}</p>
    {% else %}{% endif %}
    <div class="row">
        <div class="col-12">
            <div class="input-group">
                {{ form_widget(civility, {'attr': {'class': 'form-select w-25 form-select-sm border border-1 border-dark shadow-sm'}}) }}
                {{ form_widget(firstname, {'attr': {'class': 'form-control w-auto form-control-sm border border-1 border-dark shadow-sm'}}) }}
                {{ form_widget(lastname, {'attr': {'class': 'form-control w-auto form-control-sm border border-1 border-dark shadow-sm'}}) }}
            </div>
        </div>
    </div>
</div>
