{% set disabled = disabled|default(false) %}
{% set wrapper_class = wrapper_class|default('mb-0') %}

<div class="{{ wrapper_class }}">
    {% if show_label is true %}<label class="form-label mb-1">{{ form_label(form) }}</label>{% else %}{% endif %}
    {{ form_widget(form, {
        attr: {
            class: 'form-control form-control-sm border border-1 border-dark shadow-sm'
        } | merge(disabled ? {disabled:'disabled'} : {})
    }) }}
    <span class="text-secondary">{{ form_help(form) }}</span>
    <span class="text-danger">{{ form_errors(form) }}</span>
</div>
