<div id="{{ field.vars.id }}" class="d-inline-flex w-100">
    {% if input_label is defined %}
        <p class="fw-medium">{{ input_label }}</p>
    {% endif %}
    {% for label, value, choice in field_choices(field) %}
        <div class="form-check form-check-inline">
            <input class="form-check-input-dark" type="radio" name="{{ field.vars.name }}" id="{{ field.vars.id }}-{{ loop.index }}" value="{{ value }}" {% if value is same as field %}checked="checked"{% endif %}>
            <label class="form-check-label" for="{{ field.vars.id }}-{{ loop.index }}">{{ label }}</label>
        </div>
    {% endfor %}
</div>

