<div class="row">
    <div class="col-12">
        {{ form_start(form) }}
        {{ form_errors(form.documentFile) }}
        {{ form_widget(form.documentFile) }}
            <span class="text-muted" style="font-size: 12px"><i class="fa-sharp-duotone fa-solid fa-circle-exclamation"></i> {{ field_help(form.documentFile) }}</span>
        {{ form_end(form) }}
    </div>
</div>
