{# templates/gestapp/beneficiary/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des bénéficiaires{% endblock %}

{% block body %}
    <div class="mt-5">

        {# Bouton de retour au tableau de bord #}
        <div class="mb-4">
            {% include 'composants/forms/button_return_dashboard.html.twig' %}
        </div>

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h3">Liste des bénéficiaires</h1>

            {# Bouton pour créer un bénéficiaire via ton composant #}
            {% include 'composants/forms/button_creatnew.html.twig' with {
                label: 'Créer un nouveau bénéficiaire',
                href: path('app_gestapp_beneficiary_new')
            } %}
        </div>

        {% if beneficiaries is not empty %}
            <div class="table-responsive">
                <table class="table table-hover table-bordered align-middle">
                    <thead class="">
                        <tr>
                            <th>Le bénéficiaire</th>
                            <th>Tranche d’âge</th>
                            <th>Situation professionnelle</th>
                            <th>Modifié le</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for beneficiary in beneficiaries %}
                        <tr>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0 fs-6">
                                        {{ beneficiary.civility }} {{ beneficiary.firstname }} {{ beneficiary.lastname }}</p>
                                    <p class="mb-0">
                                        <span class="badge text-bg-light">
                                            {{ beneficiary.prescriptor.nameStructure }}
                                        </span>
                                        &nbsp;
                                        {% if beneficiary.prescription|length > 0 %}
                                            {% set prescription = beneficiary.prescription %}
                                            {% if prescription.isOpenByPrescriptor == 1 and prescription.isOpenByMediator == 0 %}
                                                <span class="badge text-bg-info">
                                                Prescription en cours&nbsp;<i class="fa-light fa-badge-check"></i>
                                                </span>
                                            {% endif %}
                                            {% if prescription.isOpenByPrescriptor == 0 and prescription.isOpenByMediator == 1 %}
                                                <span class="badge text-bg-info">
                                                Prescription en cours&nbsp;<i class="fa-light fa-badge-check"></i>
                                                </span>
                                            {% endif %}
                                            {% if prescription.isOpenByPrescriptor == 1 and prescription.isOpenByMediator == 1 and prescription.validcase is true %}
                                                <span class="badge text-bg-success">
                                                Prescription éditée&nbsp;<i class="fa-light fa-badge-check"></i>
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                </div>

                            </td>
                            <td><p class="mb-0 fs-6">{{ beneficiary.ageGroup }} ans</p></td>
                            <td><p class="mb-0 fs-6">{{ beneficiary.professionnalStatus }}</p></td>
                            <td><p class="mb-0 fs-6">{{ beneficiary.updatedAt ? beneficiary.updatedAt|date('d/m/Y') : '' }}</p></td>
                            <td class="text-center">
                                <a href="{{ path('app_gestapp_beneficiary_show', {'id': beneficiary.id}) }}" class="text-dark text-decoration-none"><i class="fa-duotone fa-solid fa-eye"></i>&nbsp;Voir</a>
                                <a href="{{ path('app_gestapp_beneficiary_edit', {'id': beneficiary.id}) }}" class="text-dark text-decoration-none"><i class="fa-duotone fa-solid fa-user-pen"></i>&nbsp;Modifier</a>
                                <a href="{{ path('app_admin_member_delete', {'id': beneficiary.id}) }}" class="text-dark text-decoration-none"><i class="fa-duotone fa-solid fa-user-circle-minus"></i>&nbsp;Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-center">Aucun bénéficiaire trouvé.</p>
        {% endif %}

    </div>
{% endblock %}
