{# templates/gestapp/beneficiary/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des bénéficiaires{% endblock %}

{% block body %}
    {# Bloc entête de page #}
    <section id="page_header">    {%
            include 'composants/pages/pages_headers.html.twig' with {
            'page_title' : 'Liste des Bénéficiaires',
            'li_items': [
                { path: 'app_admin_dashboard_index', fa_class: 'fa-sharp-duotone fa-solid fa-house-blank', a_title: 'Dashboard' },
                { path: null, fa_class: 'fa-sharp fa-light fa-laptop', a_title: 'Bénéficiaires' },
            ],
            'btns' : [
                {'path': path('app_gestapp_beneficiary_new'), 'id':'btnAddBeneficiaire', 'class' : 'btn btn-outline-dark btn-sm', 'fa_class' : 'fa-duotone fa-solid fa-circle-user-circle-plus', 'textcontent' : 'Ajouter un.e bénéficiaire'},
            ]

        }
        %}
    </section>

    <section id="page_search">
        {{ form_start(form) }}
        <div class="row g-2">
            <div class="col-md-3">
                {% include 'composants/inputs/input_text.html.twig' with {
                    form: form.query,
                    disabled: false,
                    show_label: false,
                    wrapper_class: 'mb-1'
                } %}
            </div>
            <div class="col-md-2">
                {% include 'composants/inputs/input_select.html.twig' with {
                    form: form.structure,
                    disabled: false,
                    show_label: false,
                    wrapper_class: 'mb-1'
                } %}
            </div>
            <div class="col-md-2">
                <button class="btn btn-sm btn-primary">Rechercher</button>
            </div>
        </div>
        {{ form_end(form) }}
    </section>

    {# Bloc contenu de la page #}
    <section id="page_content">
        <div class="row">
            <div class="col-12">
                {% if results is not empty %}
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered align-middle">
                            <thead class="table-light">
                            <tr>
                                <th>Le bénéficiaire</th>
                                <th>Tranche d’âge</th>
                                <th>Situation professionnelle</th>
                                <th>Modifié le</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for beneficiary in results|sort((a, b) => b.id <=> a.id) %}
                                <tr>
                                    <td>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                {{ beneficiary.civility }} {{ beneficiary.firstname }} {{ beneficiary.lastname }}
                                            </div>
                                            <div>
                                                <span class="badge text-bg-light p-2">
                                                    {{ beneficiary.structure.name }}
                                                </span>
                                                &nbsp
                                                {% if beneficiary.prescription|length > 0 %}
                                                    {% set prescription = beneficiary.prescription %}
                                                    {% if prescription.step.name == 'Open' or prescription.step.name == 'Write' or prescription.step.name == 'TwoParts'%}
                                                        <span class="badge text-bg-info p-2">
                                                            En cours&nbsp;<i class="fa-light fa-badge-check"></i>
                                                        </span>
                                                    {% endif %}
                                                    {% if prescription.step.name == 'ValidCase' %}
                                                        <span class="badge text-bg-success p-2">
                                                            Prescription Validée&nbsp;<i class="fa-light fa-badge-check"></i>
                                                        </span>
                                                    {% endif %}
                                                    {% if prescription.step.name == 'GeneratePDF' or prescription.step.name == 'Signed' %}
                                                        <span class="badge text-bg-success p-2">
                                                            Prescription éditée&nbsp;<i class="fa-light fa-badge-check"></i>
                                                        </span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>

                                    </td>
                                    <td>{{ beneficiary.ageGroup }} ans</td>
                                    <td>{{ beneficiary.professionnalStatus }}</td>
                                    <td>{{ beneficiary.updatedAt ? beneficiary.updatedAt|date('d/m/Y') : '' }}</td>
                                    <td class="text-center">
                                        <a href="{{ path('app_gestapp_beneficiary_show', {'id': beneficiary.id}) }}" class="text-dark text-decoration-none"><i class="fa-duotone fa-solid fa-eye"></i>&nbsp;Voir</a>
                                        <a href="{{ path('app_gestapp_beneficiary_edit', {'id': beneficiary.id}) }}" class="text-dark text-decoration-none"><i class="fa-duotone fa-solid fa-user-pen"></i>&nbsp;Modifier</a>
                                        <a href="{{ path('app_gestapp_beneficiary_delete', {'id': beneficiary.id}) }}" class="text-dark text-decoration-none"><i class="fa-duotone fa-solid fa-user-circle-minus"></i>&nbsp;Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered align-middle">
                            <thead class="">
                            <tr>
                                <th>Le bénéficiaire</th>
                                <th>Tranche d’âge</th>
                                <th>Situation professionnelle</th>
                                <th>Modifié le</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-start text-muted" colspan="5">Aucun bénéficiaire trouvé.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
        <section id="page_footer">

        </section>
{% endblock %}
