{{ form_start(form) }}
    <div class="row">

        {{ role }}

        {# Bloc Bénéficiaire #}
        <div class="col-12 mb-4">
            <div class="row">
                <div class="col-12 bg-light border-bottom border-dark mb-2">
                    <h3 class="mt-2 mb-2">Le bénéficiaire</h3>
                </div>
                {# Boucle selon le type de structure #}
                {% if app.request.attributes.get('_route') == 'app_gestapp_prescription_new' %}
                    <div class="col-md-6">
                        {% include 'composants/inputs/input_select.html.twig' with {
                            label: 'Bénéficiaire',
                            field: form.beneficiaire,
                            disabled: ''
                        } %}
                    </div>
                    <div class="col-md-6 d-flex align-items-end">
                        <a id="btnAddBeneficiary" href="{{ path('app_gestapp_beneficiary_new2') }}" class="btn btn-primary mb-3">
                            Ajouter un bénéficiaire
                        </a>
                    </div>
                {% elseif app.request.attributes.get('_route') == 'app_gestapp_prescription_edit' %}
                    <div class="row">

                        <div class="col-md-4">
                            {% include 'composants/inputs/block_civility.html.twig' with {
                                label: 'Prénom & Nom',
                                civility: form.beneficiaire.civility,
                                firstname: form.beneficiaire.firstname,
                                lastname: form.beneficiaire.lastname
                            } %}
                        </div>

                        <div class="col-md-12">
                            {% include 'composants/inputs/input_radio_horizontal.html.twig' with {
                                form_label: 'Age',
                                form_field: form.beneficiaire.ageGroup
                            } %}
                        </div>

                        <div class="col-md-12">
                            {% include 'composants/inputs/input_radio_horizontal.html.twig' with {
                                form_label: 'Situation',
                                form_field: form.beneficiaire.professionnalStatus
                            } %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {#  Bloc Prescripteur #}
        <div class="col-12 mt-4 mb-4">
            <div class="row">
                <div class="col-12 bg-light border-bottom border-dark mb-2">
                    <h3 class="mt-2 mb-2">Le prescripteur</h3>
                </div>

                {% if app.user.roles|first == 'ROLE_MEDIATEUR' %}
                    <div class="col-12">
                        <div class="col-md-6">
                            {% include 'composants/inputs/input_select.html.twig' with {
                                label: 'Sélectionner la structure de prescription',
                                field: form.membre,
                                disabled: ''
                            } %}
                        </div>
                    </div>
                {% else %}
                    <div class="col-12">
                        <table>
                            <tr>
                                <td><i class="fa-duotone fa-light fa-building"></i></td>
                                <td>Structure&nbsp;</td>
                                <td>{{ app.user.nameStructure }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa-duotone fa-solid fa-user"></i></td>
                                <td>Responsable&nbsp;</td>
                                <td>
                                    {% if app.user.contactResponsableFirstname is empty and app.user.contactResponsableLastname is empty %}
                                        -
                                    {% else %}
                                        {{ app.user.contactResponsableFirstname }} {{ app.user.contactResponsableLastname }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa-duotone fa-light fa-phone"></i></td>
                                <td>Téléphone&nbsp;</td>
                                <td>{% if app.user.contactPhone is empty %}-{% else %}{{ app.user.contactPhone }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td><i class="fa-duotone fa-solid fa-inbox"></i></td>
                                <td>Email&nbsp;</td>
                                <td>{% if app.user.contactEmail is empty %}-{% else %}{{ app.user.contactEmail }}{% endif %}</td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>

        {#  Bloc Médiateur numérique #}
        <div class="col-12 mt-4 mb-4">
            <div class="row">
                <div class="col-12 bg-light border-bottom border-dark mb-2">
                    <h3 class="mt-2 mb-2">La médiation numérique</h3>
                </div>

                <div class="col-md-6">
                    {% include 'composants/inputs/input_select.html.twig' with {
                        label: 'Lieu de Médiation',
                        field: form.lieuMediation,
                        disabled: ''
                    } %}
                </div>
            </div>
        </div>

        {#  Bloc Motivation de la prescription #}
        <div class="col-12 mt-4 mb-4">
            <div class="row">
                <div class="col-12 bg-light border-bottom border-dark mb-2">
                    <h3 class="mt-2 mb-2">Motivation de la prescription</h3>
                </div>

                <div class="col-md-12">
                    {% include 'composants/inputs/input_textarea.html.twig' with {
                        label: 'A completer par le prescripteur',
                        field: form.details,
                        rows:5,
                        disabled:false
                    } %}
                </div>

                <div class="col-md-12">
                    {% include 'composants/inputs/input_radio_horizontal.html.twig' with {
                        form_label: 'Compétences de base',
                        form_field: form.baseCompetence
                    } %}
                </div>
            </div>
        </div>

        {#  Bloc diagnostic competences numeriques #}
        <div class="col-12 mt-4 mb-4">
            <div class="row">
                <div class="col-12 bg-light border-bottom border-dark mb-2">
                    <h3 class="mt-2 mb-2">Diagnostic des compétences numériques</h3>
                </div>

                <div class="col-12">
                    {% if role == 'Prescripteur' %}
                    <p>Ce bloc ne pourra être complété que par l'espace de médiation sélectionné dans ce formulaire.</p>
                    {% endif %}
                    <table class="table table-bordered table-striped">
                        <tr class="text-center">
                            <th>Compétences</th>
                            <th>Acquis</th>
                            <th>En cours</th>
                            <th>Non acquis</th>
                        </tr>
                        {% if role == 'Prescripteur' %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Les bases',
                                form_field: form.competence.compBase,
                                disabled: true
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Texte et documents',
                                form_field: form.competence.compDesk,
                                disabled: true
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Internet',
                                form_field: form.competence.compInternet,
                                disabled: true
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Messagerie electronique',
                                form_field: form.competence.compEmail,
                                disabled: true
                            } %}
                        {% elseif role == 'Mediateur' %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Les bases',
                                form_field: form.competence.compBase,
                                disabled: false
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Texte et documents',
                                form_field: form.competence.compDesk,
                                disabled: false
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Internet',
                                form_field: form.competence.compInternet,
                                disabled: false
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Messagerie electronique',
                                form_field: form.competence.compEmail,
                                disabled: false
                            } %}
                        {% else %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Les bases',
                                form_field: form.competence.compBase,
                                disabled: false
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Texte et documents',
                                form_field: form.competence.compDesk,
                                disabled: false
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Internet',
                                form_field: form.competence.compInternet,
                                disabled: false
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Messagerie electronique',
                                form_field: form.competence.compEmail,
                                disabled: false
                            } %}
                        {% endif %}

                    </table>
                </div>

                {% if role == 'Prescripteur' %}
                    <div class="col-md-6">
                        {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
                            form_field: form.competence.isAutoEva,
                            disabled: true
                        } %}
                    </div>
                {% elseif role == 'Mediateur'%}
                    <div class="col-md-6">
                        {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
                            form_field: form.competence.isAutoEva,
                            disabled: false
                        } %}
                    </div>
                {% else %}
                    <div class="col-md-6">
                        {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
                            form_field: form.competence.isAutoEva,
                            disabled: false
                        } %}
                    </div>
                {% endif %}

            </div>
        </div>

        {#  Bloc des objectifs de la médiation à complêter par le Médiateur sélectionné #}
        <div class="col-12 mt-4 mb-4">
            <div class="row">
                <div class="col-12 bg-light border-bottom border-dark mb-2">
                    <h3 class="mt-2 mb-2">Les objectifs de la mediation</h3>
                </div>

                <div class="col-12 mb-2">
                    {% if role == 'Prescripteur' %}
                    <p>Ce bloc ne pourra être complété que par l'espace de médiation sélectionné dans ce formulaire.</p>
                    {% endif %}
                    <p class="mb-0">Compétences à travailler (référentiel DIGCOMP) :
                        https://eduscol.education.fr/document/20392/download
                    </p>
                </div>

                <div class="col-12 mb-2">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th>Compétences</th>
                                <th class="text-center">Objectifs</th>
                            </tr>
                            {% if role == 'Prescripteur' %}
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '0 - Compétences matérielles',
                                        form_field: form.competence.isDigComp0,
                                        disabled: true
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '1 - Information et données',
                                        form_field: form.competence.isDigComp1,
                                        disabled: true
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '2 - Communication et collaboration',
                                        form_field: form.competence.isDigComp2,
                                        disabled: true
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '3 - Création de contenu',
                                        form_field: form.competence.isDigComp3,
                                        disabled: true
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '4 - Protection et securité',
                                        form_field: form.competence.isDigComp4,
                                        disabled: true
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '5 - Environnement numérique',
                                        form_field: form.competence.isDigComp5,
                                        disabled: true
                                    } %}
                                </tr>
                            {% elseif role == 'Mediateur'%}
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '0 - Compétences matérielles',
                                        form_field: form.competence.isDigComp0,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '1 - Information et données',
                                        form_field: form.competence.isDigComp1,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '2 - Communication et collaboration',
                                        form_field: form.competence.isDigComp2,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '3 - Création de contenu',
                                        form_field: form.competence.isDigComp3,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '4 - Protection et securité',
                                        form_field: form.competence.isDigComp4,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '5 - Environnement numérique',
                                        form_field: form.competence.isDigComp5,
                                        disabled: false
                                    } %}
                                </tr>
                            {% else %}
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '0 - Compétences matérielles',
                                        form_field: form.competence.isDigComp0,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '1 - Information et données',
                                        form_field: form.competence.isDigComp1,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '2 - Communication et collaboration',
                                        form_field: form.competence.isDigComp2,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '3 - Création de contenu',
                                        form_field: form.competence.isDigComp3,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '4 - Protection et securité',
                                        form_field: form.competence.isDigComp4,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '5 - Environnement numérique',
                                        form_field: form.competence.isDigComp5,
                                        disabled: false
                                    } %}
                                </tr>
                            {% endif %}

                        </tbody>
                    </table>
                    {% if role == "Prescripteur" %}
                        {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
                            form_field: form.competence.isAutoEvaEnd,
                            disabled: true
                        } %}
                    {% elseif role == "Mediateur" %}
                        {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
                            form_field: form.competence.isAutoEvaEnd,
                            disabled: false
                        } %}
                    {% else %}
                        {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
                            form_field: form.competence.isAutoEvaEnd,
                            disabled: false
                        } %}
                    {% endif %}

                </div>

                <div class="col-md-12 mb-2">
                    {% include 'composants/inputs/input_textarea.html.twig' with {
                        label: 'A completer par le médiateur',
                        field: form.competence.detailParcour,
                        rows: 5,
                        disabled: false
                    } %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 mt-4 mb-4">
            <a class="btn btn-sm btn-outline-dark" href="{{ path('app_admin_dashboard_index') }}"><i class="fa-duotone fa-solid fa-chevrons-left"></i>&nbsp;Retour</a>
            <button id="btnAddPrescription" class="btn btn-outline-primary btn-sm"><i class="fa-duotone fa-solid fa-circle-check"></i>&nbspPréenregistrer la demande</button>
        </div>
    </div>
{{ form_widget(form._token) }}
{{ form_end(form, { render_rest: false }) }}

