<div class="row mb-1 justify-content-between">
    <div class="col-6">
        <p class="mb-0 text-secondary fst-italic">Réf : {{ prescription.ref }} | Ce dossier à été ouvert par
            {% if prescription.status.name == 'OpenByPrescriptor' %}
                un prescripteur.
            {% elseif prescription.status.name == 'OpenByMediator' %}
                un espace de médiation.
            {% elseif prescription.status.name == 'OpenByAdministrator' %}
                un administrateur.
            {% endif %}
        </p>
    </div>
    <div class="col-2 align-items-end">
        <p class="mb-0 me-2 text-end">
            {{ include('composants/pages/badge.html.twig') }}
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% if role == 'Administrateur' %}
            <p class="mb-2 alert alert-info">Ce dossier ne pourra pas être finalisé sans la validation par les 2 parties : l'organisme de prescriptions et le lieu de médiation.</p>
        {% elseif role == 'Prescripteur' %}
            {% if prescription.status.name == 'OpenByMediator' %}
                {% if prescription.step.name == 'OneParts' %}{% else %}{% endif %}
                <p class="mb-2 alert alert-info">Vous devez vérifier que la prescription corresponde aux besoins identifiés pour votre bénéficiaire.</p>
            {% elseif prescription.status.name == 'OpenByPrescriptor' %}
                {% if prescription.step.name == 'OneParts' %}
                    <p class="mb-2 alert alert-info">Pour être complête, cette prescription doit être coécrite par le médiateur choisi. Ce dernier va être averti de l'ouverture du dossier.</p>
                {% else %}
                {% endif %}
            {% endif %}
        {% elseif role == 'Médiateur' %}
            {% if prescription.status.name == 'OpenByMediator' %}
                <p class="mb-2 alert alert-info">Cette prescription doit être vérifiée par le prescripteur dont dépend le bénéficiaire.</p>
            {% elseif prescription.status.name == 'OpenByPrescriptor' %}
                <p class="mb-2 alert alert-info">Completez le parcours de formation adapté aux besoins du bénéficiaire.</p>
            {% endif %}
        {% endif %}
    </div>
</div>

{{ form_start(form) }}
    <div class="row">

        {#  Bloc Objet de la prescription #}
        <div class="col-12 mt-2 mb-2">
            <div class="col-md-12">
                {% include 'composants/inputs/input_text.html.twig' with {
                    label: 'Indiquez l\'objet de la prescription',
                    field: form.objectName,
                    disabled: ''
                } %}
            </div>
        </div>

        {# Bloc Bénéficiaire #}
        {{ include('gestapp/prescription/include/_beneficiaryForm.html.twig') }}

        {#  Bloc Prescripteur #}
        {{ include('gestapp/prescription/include/_prescriptorForm.html.twig') }}

        {#  Bloc Médiateur numérique #}
        <div class="col-12 mt-2 mb-2">
            <div class="row">
                <div class="col-12 bg-light border-bottom border-dark mb-2">
                    <h2 class="mt-1 mb-1 h4">La médiation numérique</h2>
                </div>

                <div class="col-md-6">
                    {% include 'composants/inputs/input_select.html.twig' with {
                        label: 'Lieu de Médiation',
                        field: form.lieuMediation,
                        disabled: ''
                    } %}
                </div>
            </div>
        </div>

        {#  Bloc Motivation de la prescription #}
        <div class="col-12 mt-2 mb-2">
            <div class="row">
                <div class="col-12 bg-light border-bottom border-dark mb-2">
                    <h2 class="mt-1 mb-1 h4">Motivation de la prescription</h2>
                </div>

                <div class="col-md-12">
                    {% include 'composants/inputs/input_textarea.html.twig' with {
                        label: 'A completer par le prescripteur',
                        field: form.details,
                        rows:5,
                        disabled:false
                    } %}
                </div>

                <div class="col-md-12">
                    {% include 'composants/inputs/input_radio_horizontal.html.twig' with {
                        form_label: 'Compétences de base',
                        form_field: form.baseCompetence
                    } %}
                </div>
            </div>
        </div>

        {#  Bloc diagnostic competences numeriques #}
        <div class="col-12 mt-2 mb-2">
            <div class="row">
                <div class="col-12 bg-light border-bottom border-dark mb-2">
                    <h2 class="mt-1 mb-1 h4">Diagnostic des compétences numériques</h2>
                </div>

                <div class="col-12">
                    {% if role == 'Prescripteur' %}
                    <p class="alert alert-warning">Ce bloc ne pourra être complété que par l'espace de médiation sélectionné dans ce formulaire.</p>
                    {% endif %}
                    <table class="table table-bordered table-striped">
                        <tr class="text-center">
                            <th>Compétences</th>
                            <th>Acquis</th>
                            <th>En cours</th>
                            <th>Non acquis</th>
                        </tr>
                        {% if role == 'Prescripteur' %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Les bases',
                                form_field: form.competence.compBase,
                                disabled: true
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Texte et documents',
                                form_field: form.competence.compDesk,
                                disabled: true
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Internet',
                                form_field: form.competence.compInternet,
                                disabled: true
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Messagerie electronique',
                                form_field: form.competence.compEmail,
                                disabled: true
                            } %}
                        {% elseif role == 'Mediateur' %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Les bases',
                                form_field: form.competence.compBase,
                                disabled: false
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Texte et documents',
                                form_field: form.competence.compDesk,
                                disabled: false
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Internet',
                                form_field: form.competence.compInternet,
                                disabled: false
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Messagerie electronique',
                                form_field: form.competence.compEmail,
                                disabled: false
                            } %}
                        {% else %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Les bases',
                                form_field: form.competence.compBase,
                                disabled: false
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Texte et documents',
                                form_field: form.competence.compDesk,
                                disabled: false
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Internet',
                                form_field: form.competence.compInternet,
                                disabled: false
                            } %}
                            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                                form_label: 'Messagerie electronique',
                                form_field: form.competence.compEmail,
                                disabled: false
                            } %}
                        {% endif %}

                    </table>
                </div>

                {% if role == 'Prescripteur' %}
                    <div class="col-md-6">
                        {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
                            form_field: form.competence.isAutoEva,
                            form_label: 'L\'auto évaluation du bénéficiaire a été réalisée avant l\'action.',
                            disabled: true
                        } %}
                    </div>
                {% elseif role == 'Mediateur'%}
                    <div class="col-md-6">
                        {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
                            form_field: form.competence.isAutoEva,
                            form_label: 'L\'auto évaluation du bénéficiaire a été réalisée avant l\'action.',
                            disabled: false
                        } %}
                    </div>
                {% else %}
                    <div class="col-md-6">
                        {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
                            form_field: form.competence.isAutoEva,
                            form_label: 'L\'auto évaluation du bénéficiaire a été réalisée avant l\'action.',
                            disabled: false
                        } %}
                    </div>
                {% endif %}

            </div>
        </div>

        {#  Bloc des objectifs de la médiation à complêter par le Médiateur sélectionné #}
        <div class="col-12 mt-2 mb-2">
            <div class="row">
                <div class="col-12 bg-light border-bottom border-dark mb-2">
                    <h2 class="mt-1 mb-1 h4">Les objectifs de la médiation</h2>
                </div>

                <div class="col-12 mb-2">
                    {% if role == 'Prescripteur' %}
                    <p class="alert alert-warning">Ce bloc ne pourra être complété que par l'espace de médiation sélectionné dans ce formulaire.</p>
                    {% endif %}
                    <p class="mb-0">Compétences à travailler (référentiel DIGCOMP) :
                        https://eduscol.education.fr/document/20392/download
                    </p>
                </div>

                <div class="col-12 mb-2">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th>Compétences</th>
                                <th class="text-center">Objectifs</th>
                            </tr>
                            {% if role == 'Prescripteur' %}
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '0 - Compétences matérielles',
                                        form_field: form.competence.isDigComp0,
                                        disabled: true
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '1 - Information et données',
                                        form_field: form.competence.isDigComp1,
                                        disabled: true
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '2 - Communication et collaboration',
                                        form_field: form.competence.isDigComp2,
                                        disabled: true
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '3 - Création de contenu',
                                        form_field: form.competence.isDigComp3,
                                        disabled: true
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '4 - Protection et securité',
                                        form_field: form.competence.isDigComp4,
                                        disabled: true
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '5 - Environnement numérique',
                                        form_field: form.competence.isDigComp5,
                                        disabled: true
                                    } %}
                                </tr>
                            {% elseif role == 'Mediateur'%}
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '0 - Compétences matérielles',
                                        form_field: form.competence.isDigComp0,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '1 - Information et données',
                                        form_field: form.competence.isDigComp1,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '2 - Communication et collaboration',
                                        form_field: form.competence.isDigComp2,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '3 - Création de contenu',
                                        form_field: form.competence.isDigComp3,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '4 - Protection et securité',
                                        form_field: form.competence.isDigComp4,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '5 - Environnement numérique',
                                        form_field: form.competence.isDigComp5,
                                        disabled: false
                                    } %}
                                </tr>
                            {% else %}
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '0 - Compétences matérielles',
                                        form_field: form.competence.isDigComp0,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '1 - Information et données',
                                        form_field: form.competence.isDigComp1,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '2 - Communication et collaboration',
                                        form_field: form.competence.isDigComp2,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '3 - Création de contenu',
                                        form_field: form.competence.isDigComp3,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '4 - Protection et securité',
                                        form_field: form.competence.isDigComp4,
                                        disabled: false
                                    } %}
                                </tr>
                                <tr>
                                    {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                                        form_label: '5 - Environnement numérique',
                                        form_field: form.competence.isDigComp5,
                                        disabled: false
                                    } %}
                                </tr>
                            {% endif %}

                        </tbody>
                    </table>
                    {% if role == "Prescripteur" %}
                        {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
                            form_field: form.competence.isAutoEvaEnd,
                            form_label: 'L\'auto évaluation du bénéficiaire a été réalisée après l\'action.',
                            disabled: true
                        } %}
                    {% elseif role == "Mediateur" %}
                        {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
                            form_field: form.competence.isAutoEvaEnd,
                            form_label: 'L\'auto évaluation du bénéficiaire a été réalisée après l\'action.',
                            disabled: false
                        } %}
                    {% else %}
                        {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
                            form_field: form.competence.isAutoEvaEnd,
                            form_label: 'L\'auto évaluation du bénéficiaire a été réalisée après l\'action.',
                            disabled: false
                        } %}
                    {% endif %}

                </div>

                <div class="col-md-12 mb-2">
                    {% include 'composants/inputs/input_textarea.html.twig' with {
                        label: 'A completer par le médiateur',
                        field: form.competence.detailParcour,
                        rows: 5,
                        disabled: false
                    } %}
                </div>
            </div>
        </div>
    </div>

    {% if prescription.step.name == 'Open' or prescription.step.name == 'OneParts' %}
        <div class="row">
            <div class="col-12 bg-light border-bottom border-dark mb-2">
                <h2 class="h4 mt-1 mb-1">Construction du dossier</h2>
            </div>
            <div class="col-12">
                {% if role == 'Administrateur' %}
                    <p class="mb-0">Ce dossier ne pourra pas être finalisé sans la validation par les 2 parties : l'organisme de prescriptions et le lieu de médiation.</p>
                {% elseif role == 'Prescripteur' %}
                    {% if prescription.status.name == 'OpenByMediator' %}
                        <p class="mb-0">Vous devez vérifier que la prescription corresponde aux besoins identifiés pour votre bénéficiaire.</p>
                    {% elseif prescription.status.name == 'OpenByPrescriptor' %}
                        <p class="mb-0">En validant la demande, le médiateur sélectionné va être averti de l'ouverture du dossier.</p>
                    {% endif %}
                {% elseif role == 'Médiateur' %}
                    {% if prescription.status.name == 'OpenByMediator' %}
                        <p class="mb-0">Cette prescription doit être vérifiée par le prescripteur dont dépend le bénéficiaire.</p>
                    {% elseif prescription.status.name == 'OpenByPrescriptor' %}
                        <p class="mb-0"></p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-6 mt-4 mb-4">
                <a class="btn btn-sm btn-outline-dark" href="{{ path('app_admin_dashboard_index') }}"><i class="fa-duotone fa-solid fa-chevrons-left"></i>&nbsp;Retour</a>
                {% if role == 'Administrateur' %}
                    <button id="btnAddPrescription" class="btn btn-outline-primary btn-sm"><i class="fa-duotone fa-solid fa-circle-check"></i> Préenregistrer la demande</button>
                {% elseif role == 'Prescripteur' %}
                    {% if prescription.status.name == 'OpenByMediator' %}
                        <button id="btnAddPrescription" class="btn btn-outline-primary btn-sm"><i class="fa-duotone fa-solid fa-circle-check"></i> Poursuivre la demande</button>
                    {% elseif prescription.status.name == 'OpenByPrescriptor' %}
                        <button id="btnAddPrescription" class="btn btn-outline-primary btn-sm"><i class="fa-duotone fa-solid fa-circle-check"></i> Préenregistrer la demande</button>
                    {% endif %}
                {% elseif role == 'Médiateur' %}
                    {% if prescription.status.name == 'OpenByMediator' %}
                        <button id="btnAddPrescription" class="btn btn-outline-primary btn-sm"><i class="fa-duotone fa-solid fa-circle-check"></i> Préenregistrer la demande</button>
                    {% elseif prescription.status.name == 'OpenByPrescriptor' %}
                        <button id="btnAddPrescription" class="btn btn-outline-primary btn-sm"><i class="fa-duotone fa-solid fa-circle-check"></i> Poursuivre la demande</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% elseif prescription.step.name == 'TwoParts' %}
        <div class="row">
            <div class="col-12 bg-light border-bottom border-dark mb-2">
                <h3 class="mt-1 mb-1 h4">Poursuite du dossier</h3>
            </div>
            <div class="col-12">

                {% if role == 'Administrateur' %}
                    <p class="mb-0">Vous completez en lieu et place de l'un des organismes cette prescription. Le bénéficiaire doit suivre son parcours de formation précisé précédemment avant de recevoir la dotation.</p>
                {% elseif role == 'Prescripteur' %}
                    {% if prescription.status.name == 'OpenByMediator' %}
                        <p class="mb-0">En l'état actuel de la prescription, en tant que prescripteur, vous ne pouvez pas valider le parcours de formation du bénéficiaire.</p>
                    {% elseif prescription.status.name == 'OpenByPrescriptor' %}
                        <p class="mb-0">En l'état actuel de la prescription, en tant que prescripteur, vous ne pouvez pas valider le parcours de formation du bénéficiaire.</p>
                    {% endif %}
                {% elseif role == 'Médiateur' %}
                    {% if prescription.status.name == 'OpenByMediator' %}
                        <p class="mb-0">Vous validez le parcours de formation du bénéficiaire. Ce denier doit suivre son parcours de formation précisé précédemment avant de recevoir la dotation.</p>
                    {% elseif prescription.status.name == 'OpenByPrescriptor' %}
                        <p class="mb-0">Vous validez le parcours de formation du bénéficiaire. Ce denier doit suivre son parcours de formation précisé précédemment avant de recevoir la dotation.</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    <a class="btn btn-sm btn-outline-dark" href="{{ path('app_admin_dashboard_index') }}"><i class="fa-duotone fa-solid fa-chevrons-left"></i>&nbsp;Retour</a>
                    {% if role == 'Administrateur' %}
                        <button id="btnValidCase" class="btn btn-outline-primary btn-sm"><i class="fa-duotone fa-solid fa-circle-check"></i> Validation parcours de formation</button>
                    {% elseif role == 'Prescripteur' %}
                    {% elseif role == 'Médiateur' %}
                        <button id="btnValidCase" class="btn btn-outline-primary btn-sm"><i class="fa-duotone fa-solid fa-circle-check"></i> Validation parcours de formation</button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% elseif prescription.step.name == 'ChoiceEquipment' %}
        <div class="row">
            <div class="col-12 bg-light border-bottom border-dark mb-2">
                <h3 class="mt-1 mb-1 h4">Choix de l'équipement</h3>
            </div>
            <div class="col-12">
                {% if role == 'Administrateur' %}
                    <p class="mb-0">Vous completez en lieu et place de l'un des organismes cette prescription.</p>
                {% elseif role == 'Prescripteur' %}
                    <p class="mb-0">En l'état actuel de la prescription, en tant que prescripteur, vous ne pouvez pas choisir un équipement.</p>
                {% elseif role == 'Médiateur' %}
                    <p class="mb-0">Choisissez l'ID de l'équipement attribué au bénéficiaire.</p>
                {% endif %}
            </div>
            <div class="row mt-2">
                {% if role == 'Administrateur' or role =='Médiateur' %}
                <div class="col-4">
                    {% include 'composants/inputs/input_select.html.twig' with {
                        label: 'Référence de l\'équipement doté',
                        field: form.equipement,
                        disabled: ''
                    } %}
                </div>
                <div class="clear"></div>
                <div class="col-4">
                    <a class="btn btn-sm btn-outline-dark" href="{{ path('app_admin_dashboard_index') }}"><i class="fa-duotone fa-solid fa-chevrons-left"></i>&nbsp;Retour</a>
                    <button id="btnValidCase" class="btn btn-outline-primary btn-sm"><i class="fa-duotone fa-solid fa-circle-check"></i> Validation de l'équipement</button>
                </div>
                {% elseif role == 'Prescripteur' %}
                    <div class="col-4">
                        <a class="btn btn-sm btn-outline-dark" href="{{ path('app_admin_dashboard_index') }}"><i class="fa-duotone fa-solid fa-chevrons-left"></i>&nbsp;Retour</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

{{ form_end(form) }}

