{{ form_start(form) }}

<div class="row g-3">

    <div class="col-md-6">
        {% include 'composants/inputs/input_text.html.twig' with {
            label: 'Référence',
            field: form.ref
        } %}
    </div>

    <div class="col-md-6"></div>

    <div class="col-md-6">
        {% include 'composants/inputs/input_select.html.twig' with {
            label: 'Bénéficiaire',
            field: form.beneficiaire
        } %}
    </div>

    <div>Accueillir le form bénificiaire</div>
    {{ render(controller('App\\Controller\\Gestapp\\BeneficiaryController::new2')) }}

    <div class="col-md-6">
        {% include 'composants/inputs/input_select.html.twig' with {
            label: 'Equipement',
            field: form.equipement
        } %}
    </div>

    <div class="col-md-12">
        {% include 'composants/inputs/input_aera.html.twig' with {
            label: 'Détail',
            field: form.details
        } %}
    </div>

    <div class="col-md-6">
        {% include 'composants/inputs/input_select.html.twig' with {
            label: 'Base Compétences',
            field: form.baseCompetence
        } %}
    </div>

    <div class="col-md-6">
        {% include 'composants/inputs/input_text.html.twig' with {
            label: 'Lieu de Médiation',
            field: form.lieuMediation
        } %}
    </div>

    <div>Accueillir le form compétence</div>
</div>

<div class="mt-4">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_rest(form) }}

{{ form_end(form) }}
