    <div class="col-12 bg-light border-bottom border-dark">
        <h3>Diagnostique des compétences numériques</h3>
    </div>

    <div class="col-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Compétences</th>
                <th>Acquis</th>
                <th>En cours</th>
                <th>Non acquis</th>
            </tr>
            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                form_label: 'Compétence de base',
                form_field: form.compBase
            } %}
        </table>


        <!-- Compétence Texte et documents -->
        <div class="row align-items-center text-center border-bottom py-2 ">
            <div class="col-4 text-start fw-semibold">Compétence Texte et documents</div>
            <div class="col d-flex justify-content-around">
                {% include 'composants/inputs/input_radios.html.twig' with { field: form.compDesk, attr: {'label': false} } %}
            </div>
        </div>
        <!-- Compétence Internet -->
        <div class="row align-items-center text-center border-bottom py-2 bg-light">
            <div class="col-4 text-start fw-semibold">Compétence Internet</div>
            <div class="col d-flex justify-content-around">
                {% include 'composants/inputs/input_radios.html.twig' with { field: form.compInternet, attr: {'label': false} } %}
            </div>
        </div>
        <!-- Compétence Messagerie email -->
        <div class="row align-items-center text-center py-2">
            <div class="col-4 text-start fw-semibold">Compétence Messagerie email</div>
            <div class="col d-flex justify-content-around">
                {% include 'composants/inputs/input_radios.html.twig' with { field: form.compEmail, attr: {'label': false} } %}
            </div>
        </div>
    </div>











    <hr class="my-4">

    <div class="row g-3">
        <div class="col-md-6">{{ form_row(form.isAutoEva) }}</div>
        <div class="col-md-6">{{ form_row(form.isAutoEvalEnd) }}</div>
    </div>

    <!-- Compétences numériques -->
    <div class="row g-3 align-items-center mt-3">
        <div class="col d-flex flex-wrap justify-content-between">
            {% for i in 1..5 %}
                <div class="flex-fill text-center mx-1">

                </div>{{ form_row(attribute(form, 'isDigComp' ~ i)) }}
            {% endfor %}
        </div>
    </div>

    <!-- Détail du parcours -->
    <div class="row g-3 mt-4">
        <div class="col-md-12">
            <div class="form-group">
                <label class="fw-bold mb-2 d-block">Détail du parcours</label>
                {{ form_widget(form.detailParcour, {'attr': {'class': 'form-control', 'rows': 4}}) }}
            </div>
        </div>
    </div>

{{ form_end(form) }}
