{{ form_start(form, {'attr': {'id': 'member_form'}}) }}

<div class="row g-2 mb-3">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="col-12">
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="col-12 bg-light border-bottom border-dark mb-2">
        <h3 class="mt-1 mb-1 h4">Le membre</h3>
    </div>
    <div class="col-md-1">
        {% include 'composants/inputs/input_select.html.twig' with {
            form: form.civility,
            show_label: true,
            disabled: false
        } %}
    </div>
    <div class="col-md-2">
        {{ form_label(form.firstname, 'Prénom', {'label_attr': {'class': 'form-label fw-semibold'}}) }}
        {{ form_widget(form.firstname, {'attr': {'class': 'form-control form-control-sm'}}) }}
    </div>
    <!-- Email -->
    <div class="col-md-2">
        {{ form_label(form.lastname, 'Nom', {'label_attr': {'class': 'form-label fw-semibold'}}) }}
        {{ form_widget(form.lastname, {'attr': {'class': 'form-control form-control-sm'}}) }}
    </div>
    <div class="col-3">
        {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label fw-semibold'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-sm'}}) }}
    </div>
    <div class="col-md-2">
        {% include 'composants/inputs/input_select.html.twig' with {
            form: form.structure,
            show_label: true,
            disabled: false
        } %}
    </div>

</div>
<div class="row g-1 mb-3">

    <div class="col-12 bg-light border-bottom border-dark mb-2">
        <h3 class="mt-1 mb-1 h4">Contacts</h3>
    </div>

</div>
<div class="row g-2">

    {% if app.request.attributes.get('_route') == 'app_admin_member_new' %}
    <div class="col-md-6">
        {{ form_label(form.password.first, '', {'label_attr': {'class': 'form-label fw-semibold'}}) }}
        {{ form_widget(form.password.first, {'attr': {'class': 'form-control form-control-sm'}}) }}
        {{ form_errors(form.password.first) }}
    </div>
        <div class="col-md-6">
            {{ form_label(form.password.second, '', {'label_attr': {'class': 'form-label fw-semibold'}}) }}
            {{ form_widget(form.password.second, {'attr': {'class': 'form-control form-control-sm'}}) }}
            {{ form_errors(form.password.first) }}
        </div>
    {% endif %}

    <!-- Bouton -->
    <div class="mt-4">
        <a class="btn btn-sm btn-outline-dark" href="/admin/dashboard"><i class="fa-duotone fa-solid fa-chevrons-left"></i>&nbsp;Retour</a>
        <button class="btn btn-outline-primary btn-sm">{{ button_label|default('Enregistrer') }}</button>
    </div>

</div>

{{ form_end(form) }}


