{% extends 'base.html.twig' %}

{% block title %}Liste des membres{% endblock %}

{% block body %}
    <div class="container mt-5">

        {# Bouton de retour au tableau de bord #}
        <div class="mb-4">
            {% include 'composants/forms/button_return_dashboard.html.twig' %}
        </div>

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h3">Liste des membres</h1>

            {# Bouton pour créer un prescripteur #}
            {% include 'composants/forms/button_creatnew.html.twig' with {
                label: 'Créer un nouveau prescripteur',
                href: path('app_admin_member_new', {'role' : 'prescripteur'})
            } %}

            {# Bouton pour créer un prescripteur #}
            {% include 'composants/forms/button_creatnew.html.twig' with {
                label: 'Créer un nouveau médiateur',
                href: path('app_admin_member_new', {'role' : 'mediateur'})
            } %}

        </div>

        {% if members is not empty %}
            <div class="table-responsive">
                <table class="table table-striped table-bordered align-middle">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Membre</th>
                            <th>Structure</th>
                            <th>Adresse</th>
                            <th>Contacts</th>
                            <th>Vérifié</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for member in members %}
                        <tr>
                            <td>{{ member.id }}</td>
                            <td>{{ member.contactResponsableCivility }} {{ member.contactResponsableFirstname }} {{ member.contactResponsableLastname }}</td>
                            <td>
                                {{ member.nameStructure }}<br>
                                {{ member.email }}
                            </td>
                            <td>{{ member.address }}<br>{{ member.zipcode }} {{ member.city }}</td>
                            <td>{{ member.contactEmail }}<br>{{ member.contactPhone }}</td>
                            <td>
                                {% if member.isVerified %}
                                    <span class="badge bg-success">Oui</span>
                                {% else %}
                                    <span class="badge bg-danger">Non</span>
                                {% endif %}
                            </td>
                            <td class="text-center">

                                {# Bouton "Voir" #}
                                {% include 'composants/forms/button_link.html.twig' with {
                                    label: 'Voir',
                                    href: path('app_admin_member_show', {'id': member.id}),
                                    type: 'info'
                                } %}

                                {# Bouton "Modifier" #}
                                {% include 'composants/forms/button_link.html.twig' with {
                                    label: 'Modifier',
                                    href: path('app_admin_member_edit', {'id': member.id}),
                                    type: 'warning'
                                } %}

                                {# Bouton "Supprimer" si  il existe #}
                                {% include 'composants/forms/buttons_delete.html.twig' with {
                                    id: member.id,
                                    route: 'app_admin_member_delete'
                                } %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-center">Aucun membre trouvé.</p>
        {% endif %}

    </div>
{% endblock %}
