{% extends 'base.html.twig' %}

{% block title %}Détails du membre{% endblock %}

{% block body %}
    <div class="container mt-5">

        <h1 class="mb-4">Détails du membre</h1>

        <div class="card p-4 shadow-sm">
            <table class="table table-bordered align-middle">
                <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td>{{ member.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{ member.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Rôles</th>
                    <td>
                        {% if member.roles is defined and member.roles is iterable %}
                            {{ member.roles|join(', ') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Nom de la structure</th>
                    <td>{{ member.nameStructure }}</td>
                </tr>
                <tr>
                    <th scope="row">Adresse</th>
                    <td>{{ member.address }}</td>
                </tr>
                <tr>
                    <th scope="row">Code postal</th>
                    <td>{{ member.zipcode }}</td>
                </tr>
                <tr>
                    <th scope="row">Ville</th>
                    <td>{{ member.city }}</td>
                </tr>
                <tr>
                    <th scope="row">Email de contact</th>
                    <td>{{ member.contactEmail }}</td>
                </tr>
                <tr>
                    <th scope="row">Téléphone de contact</th>
                    <td>{{ member.contactPhone }}</td>
                </tr>
                <tr>
                    <th scope="row">Prénom du responsable</th>
                    <td>{{ member.contactResponsableFirstname }}</td>
                </tr>
                <tr>
                    <th scope="row">Nom du responsable</th>
                    <td>{{ member.contactResponsableLastname }}</td>
                </tr>
                <tr>
                    <th scope="row">Civilité du responsable</th>
                    <td>{{ member.contactResponsableCivility }}</td>
                </tr>
                <tr>
                    <th scope="row">Vérifié</th>
                    <td>
                        {% if member.isVerified %}
                            <span class="badge bg-success px-3 py-2 rounded-pill">Oui</span>
                        {% else %}
                            <span class="badge bg-danger px-3 py-2 rounded-pill">Non</span>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-4 d-flex gap-2">
            {# Bouton retour #}
            {% include 'composants/showsTable/button_return_list.html.twig' with {
                href: path('app_admin_member_index'),
                label: 'Retour à la liste'
            } %}

            {# Bouton modifier #}
            {% include 'composants/showsTable/button_update.html.twig' with {
                href: path('app_admin_member_edit', {'id': member.id}),
                label: 'Modifier'
            } %}

            {# Bouton supprimer #}
            {% include 'composants/showsTable/buttons_delete.html.twig' with {
                id: member.id,
                route: 'app_admin_member_delete'
            } %}
        </div>
    </div>
{% endblock %}
