{% extends 'base.html.twig' %}

{% block title %}Editer fiche en pdf{% endblock %}

{% block body %}

    {# ------------------ page 1 ---------------------------------------- #}

    <section>
        <div>
            <img src="{{ asset('assets/images/bandeau1.jpg') }}" alt="bandeau du site">
        </div>

        <h1>Prescription Mon Ordi Pin40</h1>

        <h2>Le dispositif</h2>

        <p>
            Le dispositif vise la dotation à titre gracieux d’un ordinateur portable reconditionné
            à des personnes physiques (associations exclues).
            Les ordinateurs, issus de l’opération « 1 collégien, 1 ordinateur »
            du Département des Landes, puis mis à disposition des écoles primaires
            du département, sont reconditionnés pour alimenter le dispositif « Mon Ordi Pin40 ».
        </p>

        <p>
            Le prescripteur organise l’accueil du bénéficiaire auprès d’un lieu de médiation
            numérique partenaire du dispositif.
            La liste des partenaires est consultable sur le lien :
            https://www.pin40.fr/le-reseau/la-carte-des-acteurs-du-reseau.
        </p>

        <p>
            Pour être éligibles, les Bénéficiaires doivent répondre à au moins un des trois critères suivants :
        </p>

        <ul>
            <li>Besoin d’équipement mais des ressources financières limitées</li>
            <li>Un besoin de montée en compétences techniques entravé par l’absence de matériel</li>
            <li>Un besoin d’accéder à l’autonomie numérique</li>
        </ul>

        <p>
            Les bénéficiaires s’engagent à suivre jusqu’au bout le parcours défini
            par le médiateur numérique à l’issue duquel il se verra remettre l’ordinateur.
        </p>
    </section>

    <section>
        <h2>Le bénéficiaire</h2>
        <p>A completer par le prescripteur</p>

        <p>Civilité: {{prescription.beneficiaire.civility}}</p>
        <p>Nom : {{prescription.beneficiaire.lastname}}</p>
        <p>Prénom : {{prescription.beneficiaire.firstname}}</p>
        <p>Genre : {{prescription.beneficiaire.gender}}</p>
        <p>Tranche d'âge : {{prescription.beneficiaire.AgeGroup}}</p>
        <p>Situation : {{prescription.beneficiaire.professionnalStatus}}</p>
    </section>

    {# ------------------------------------------- page 2 ----------------------------------- #}

    <section>
        <h2>Le prescripteur</h2>

        <p>Structure : {{prescription.membre.nameStructure}}</p>
        <p>Nom et prénom du prescripteur :{{prescription.membre.contactResponsableLastname ~ ' ' ~ prescription.membre.contactResponsableFirstname }}</p>
        <p>Téléphone du prescripteur : {{prescription.membre.contactPhone}}</p>
        <p>Mail du prescripteur : {{prescription.membre.contactEmail}}</p>
    </section>

    <section>
        <h2>Motivation de la prescription</h2>

        <p>A compléter par le prescripteur :</p>

        {{ prescription.membre.nameStructure|raw }}
        <p>Évaluation des compétences de base par le prescripteur :</p>

        <table class="table table-bordered table-striped">
            <tbody><tr>
                <th>Compétences</th>
                <th>Acquis</th>
                <th>En cours</th>
                <th>Non acquis</th>
            </tr>
            <tr>
                <td><b>Les bases</b></td>
                <td>
                    <label class="form-check-label mx-2">
                        <input type="radio" id="prescription_competence_compBase_0" name="prescription[competence][compBase]" required="required" class="form-check-input" value="acquis">
                        <label for="prescription_competence_compBase_0" class="required">Acquis</label>
                    </label>
                </td>
                <td>
                    <label class="form-check-label mx-2">
                        <input type="radio" id="prescription_competence_compBase_1" name="prescription[competence][compBase]" required="required" class="form-check-input" value="encours">
                        <label for="prescription_competence_compBase_1" class="required">En cours</label>
                    </label>
                </td>
                <td>
                    <label class="form-check-label mx-2">
                        <input type="radio" id="prescription_competence_compBase_2" name="prescription[competence][compBase]" required="required" class="form-check-input" value="Nonacquis">
                        <label for="prescription_competence_compBase_2" class="required">Non acquis</label>
                    </label>
                </td>
            </tr>
            <tr>
                <td><b>Texte et documents</b></td>
                <td>
                    <label class="form-check-label mx-2">
                        <input type="radio" id="prescription_competence_compDesk_0" name="prescription[competence][compDesk]" required="required" class="form-check-input" value="acquis">
                        <label for="prescription_competence_compDesk_0" class="required">Acquis</label>
                    </label>
                </td>
                <td>
                    <label class="form-check-label mx-2">
                        <input type="radio" id="prescription_competence_compDesk_1" name="prescription[competence][compDesk]" required="required" class="form-check-input" value="encours">
                        <label for="prescription_competence_compDesk_1" class="required">En cours</label>
                    </label>
                </td>
                <td>
                    <label class="form-check-label mx-2">
                        <input type="radio" id="prescription_competence_compDesk_2" name="prescription[competence][compDesk]" required="required" class="form-check-input" value="Nonacquis">
                        <label for="prescription_competence_compDesk_2" class="required">Non acquis</label>
                    </label>
                </td>
            </tr>
            <tr>
                <td><b>Internet</b></td>
                <td>
                    <label class="form-check-label mx-2">
                        <input type="radio" id="prescription_competence_compInternet_0" name="prescription[competence][compInternet]" required="required" class="form-check-input" value="acquis">
                        <label for="prescription_competence_compInternet_0" class="required">Acquis</label>
                    </label>
                </td>
                <td>
                    <label class="form-check-label mx-2">
                        <input type="radio" id="prescription_competence_compInternet_1" name="prescription[competence][compInternet]" required="required" class="form-check-input" value="encours">
                        <label for="prescription_competence_compInternet_1" class="required">En cours</label>
                    </label>
                </td>
                <td>
                    <label class="form-check-label mx-2">
                        <input type="radio" id="prescription_competence_compInternet_2" name="prescription[competence][compInternet]" required="required" class="form-check-input" value="Nonacquis">
                        <label for="prescription_competence_compInternet_2" class="required">Non acquis</label>
                    </label>
                </td>
            </tr>
            <tr>
                <td><b>Messagerie electronique</b></td>
                <td>
                    <label class="form-check-label mx-2">
                        <input type="radio" id="prescription_competence_compEmail_0" name="prescription[competence][compEmail]" required="required" class="form-check-input" value="acquis">
                        <label for="prescription_competence_compEmail_0" class="required">Acquis</label>
                    </label>
                </td>
                <td>
                    <label class="form-check-label mx-2">
                        <input type="radio" id="prescription_competence_compEmail_1" name="prescription[competence][compEmail]" required="required" class="form-check-input" value="encours">
                        <label for="prescription_competence_compEmail_1" class="required">En cours</label>
                    </label>
                </td>
                <td>
                    <label class="form-check-label mx-2">
                        <input type="radio" id="prescription_competence_compEmail_2" name="prescription[competence][compEmail]" required="required" class="form-check-input" value="Nonacquis">
                        <label for="prescription_competence_compEmail_2" class="required">Non acquis</label>
                    </label>
                </td>
            </tr>
            </tbody></table>
    </section>

    {# --------------------------------------page 3--------------------------------------- #}

    <section>
        <h2>Le médiateur numérique</h2>

        <p>A compléter par le médiateur numérique</p>

        <p>Lieu de médiation numérique choisi pour organiser la dotation : {prescription.lieuMediation}</p>

    </section>

    <section>
        <h2>Diagnostic des compétences numériques</h2>

        <p>
            Diagnostic des « compétences numériques de base » réalisé par le médiateur lors
            de la rencontre initiale en appui au référentiel du CLEA Numérique
            (https://www.certificat-clea.fr/clea-numerique/referentiel-clea-numerique/)
        </p>

        <p>A compléter par le médiateur</p>

        {# inserer le tableau des compétences aquises, en cour ou non acquise page 3 #}
    </section>

    <section>
        <p>L'auto évaluation du bénéficiaire a été réalisée avant l'action :

        </p>
    </section>


    {# ----------------------------------- page 4 ---------------------------------------------#}

    <section>
        <h2>Les objectifs de la médiation</h2>

        <p>
            Compétences à travailler (référentiel DIGCOMP) :
            https://eduscol.education.fr/document/20392/download
        </p>

        <p>A compléter par le médiateur</p>

        {# tableau des competences a travailler #}

        <p>A compléter par le médiateur</p>

        <p>Parcours de médiation acté entre le bénéficiaire et le médiateur</p>

        {# variable parcour du beneficiaire #}

        <p>Signature du bénéficiaire</p>

        {# signature du beneficiare #}

        <p>Auto évaluation du bénéficiaire a été réalisée après l'action</p>

    </section>

    {# ---------------------------------- page 5 ------------------------------------ #}

    <section>
        <h2>Date de la remise de l'ordinateur</h2>

        <p>Fait à :{{prescription.lieuMediation}} </p>


        <p>Le :{{prescription.createdAT}} </p>


        <p>ID de l'ordinateur remis :  {{matriculEquipment }}</p>

    </section>

    <section>
        <h2>Mentions légales conformes au RGPD</h2>

        <p>
            Les informations personnelles collectées pourront faire l'objet d'un traitement
            ayant pour finalité l'envoi de compte-rendu ou d'informations en lien avec les
            objectifs du séminaire.
            Ces informations sont à destination exclusive des services de l'ALPI.
            Elles sont conservées 3 ans.
            Conformément au Règlement (UE) 2016/679 relatif à la protection des données à caractère personnel,
            vous disposez des droits suivants sur vos données : droit d’accès, droit de rectification,
            droit à l’effacement (droit à l’oubli), droit d’opposition, droit à la limitation du traitement,
            droit à la portabilité.
            Pour exercer vos droits, merci d’adresser votre demande par courrier postal
            au 175 place de la Caserne Bosquet - 40000 Mont-de-Marsan
            ou par mail à dpo@alpi40.fr
            Sous réserve d’un manquement aux dispositions ci-dessus, vous avez le droit
            d’introduire une réclamation auprès de la CNIL.
        </p>
    </section>

{% endblock %}
