
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf prescription</title>
    <script src="https://kit.fontawesome.com/1fb9149f4c.js" crossorigin="anonymous"></script>
    {% if pdf == 1%}
        <link href="{{ gotenberg_asset('build/pdf.css')}}" rel="stylesheet">
    {% else %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('pdf') }}
        {% endblock %}
    {% endif %}
</head>

{% set gender = '' %}
{% set comp = prescription.competence %}

{% if prescription.beneficiaire.gender == 'Mr' %}
    {% set gender = 'Homme' %}
{% elseif prescription.beneficiaire.gender == 'Mme' or prescription.beneficiaire.gender == 'Mlle' %}
    {% set gender = 'Femme' %}
{% elseif prescription.beneficiaire.gender == 'autres' %}
    {% set gender = 'Autre' %}
{% endif %}

<body>
<header class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            {% if pdf == 1%}
                <img src="{{ gotenberg_asset('images/header_pdf_pin40.png') }}" alt="">
            {% else %}
                <img src="{{ asset('images/header_pdf_pin40.png') }}" alt="">
            {% endif %}
        </div>
    </div>
</header>
<main class="container-fluid">
    <section class="row">
        <div class="col-12 my-5">
            <h1 class="px-2">Prescription Mon Ordi Pin40</h1>
        </div>
    </section>

    <section class="row mb-3">
        <div class="col-12 px-0">
            <h2>Le dispositif</h2>
        </div>
        <div class="col-12 px-0">
            <p>
                Le dispositif vise la dotation à titre gracieux d’un ordinateur portable reconditionné à des personnes physiques
                (associations exclues). Les ordinateurs, issus de l’opération « 1 collégien, 1 ordinateur » du Département des
                Landes, puis mis à disposition des écoles primaires du département, sont reconditionnés pour alimenter le
                dispositif « Mon Ordi Pin40 ».
            </p>
            <p>
                Le prescripteur organise l’accueil du bénéficiaire auprès d’un lieu de médiation
                numérique partenaire du dispositif.
                La liste des partenaires est consultable sur :
                https://www.pin40.fr/le-reseau/la-carte-des-acteurs-du-reseau.
            </p>
            <p>Pour être éligibles, les Bénéficiaires doivent répondre à au moins un des trois critères :</p>
            <ol>
                <li>Besoin d’équipement mais ressources financières limitées</li>
                <li>Besoin de montée en compétences techniques</li>
                <li>Besoin d’autonomie numérique</li>
            </ol>
            <p>
                Les bénéficiaires s’engagent à suivre le parcours défini
                par le médiateur numérique à l’issue duquel il recevra l’ordinateur.
            </p>
        </div>
    </section>

    <section class="row mb-3">
        <div class="row g-0">
            <div class="col-12 px-0">
                <h2>Le bénéficiaire</h2>
                <p>A compléter par le prescripteur</p>
            </div>
            <div class="clear"></div>
            <div class="col-2">
                <p class="my-1 py-1">Prénom & Nom:</p>
            </div>
            <div class="col-4">
                <p class="bg-light rounded-1 my-1 py-1">{{ prescription.beneficiaire.civility }} {{ prescription.beneficiaire.firstname }} {{ prescription.beneficiaire.lastname }}</p>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-2">
                <p class="my-1 py-1">Genre :</p>
            </div>
            <div class="col-4">
                {% if gender == 'Homme' %}
                    <p class="my-1 py-1"><i class="fa-regular fa-square-check"></i> Homme&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square"></i> Femme&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square"></i> Autres</p>
                {% elseif gender == 'Femme' %}
                    <p class="my-1 py-1"><i class="fa-regular fa-square"></i> Homme&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square-check"></i> Femme&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square"></i> Autres</p>
                {% elseif gender == 'Autres' %}
                    <p class="my-1 py-1"><i class="fa-regular fa-square"></i> Homme&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square"></i> Femme&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square-check"></i> Autres</p>
                {% endif %}
            </div>
        </div>
        <div class="row g-0">
            <div class="col-2">
                <p class="my-1 py-1">Tranche d'âge :</p>
            </div>
            <div class="col-10">
                {% if prescription.beneficiaire.AgeGroup == '0-15' %}
                    <p class="my-1 py-1"><i class="fa-regular fa-square-check"></i> 15 ans et moins&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square"></i> 16 à 25 ans&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square"></i> 26 à 59 ans&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square"></i> 60 ans et plus</p>
                {% elseif prescription.beneficiaire.AgeGroup == '16-25' %}
                    <p class="my-1 py-1"><i class="fa-regular fa-square"></i> 15 ans et moins&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square-check"></i> 16 à 25 ans&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square"></i> 26 à 59 ans&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square"></i> 60 ans et plus</p>
                {% elseif prescription.beneficiaire.AgeGroup == '26-59' %}
                    <p class="my-1 py-1"><i class="fa-regular fa-square"></i> 15 ans et moins&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square"></i> 16 à 25 ans&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square-check"></i> 26 à 59 ans&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square"></i> 60 ans et plus</p>
                {% elseif prescription.beneficiaire.AgeGroup == '60+' %}
                    <p class="my-1 py-1"><i class="fa-regular fa-square"></i> 15 ans et moins&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square"></i> 16 à 25 ans&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square"></i> 26 à 59 ans&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-square-check"></i> 60 ans et plus</p>
                {% endif %}
            </div>
        </div>
        <div class="row g-0">
            <div class="col-2">
                <p class="my-1 py-1">Situation :</p>
            </div>
            <div class="col-10">
                {% if prescription.beneficiaire.professionnalStatus == 'Scolaire / Étudiant' %}
                    <p class="my-1 py-1">
                        <i class="fa-regular fa-square-check"></i> Scolaire / Étudiants&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Employé / En Formation&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Sans emploi&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Retraité&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Autre situation
                    </p>
                {% elseif prescription.beneficiaire.professionnalStatus == 'Employé / En Formation' %}
                    <p class="my-1 py-1">
                        <i class="fa-regular fa-square"></i> Scolaire / Étudiants&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square-check"></i> Employé / En Formation&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Sans emploi&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Retraité&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Autre situation
                    </p>
                {% elseif prescription.beneficiaire.professionnalStatus == 'Sans emploi' %}
                    <p class="my-1 py-1">
                        <i class="fa-regular fa-square"></i> Scolaire / Étudiants&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Employé / En Formation&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square-check"></i> Sans emploi&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Retraité&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Autre situation
                    </p>
                {% elseif prescription.beneficiaire.professionnalStatus == 'Retraite' %}
                    <p class="my-1 py-1">
                        <i class="fa-regular fa-square"></i> Scolaire / Étudiants&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Employé / En Formation&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Sans emploi&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square-check"></i> Retraité&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Autre situation
                    </p>
                {% elseif prescription.beneficiaire.professionnalStatus == 'Autre situation' %}
                    <p class="my-1 py-1">
                        <i class="fa-regular fa-square"></i> Scolaire / Étudiants&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Employé / En Formation&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Sans emploi&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square"></i> Retraité&nbsp;&nbsp;&nbsp;
                        <i class="fa-regular fa-square-check"></i> Autre situation
                    </p>
                {% endif %}
            </div>
        </div>
    </section>

    <div style="break-after: page;"></div>

    <section class="row mb-1">
        <div class="col-12 px-0 mb-1">
            <h2>Partie PRESCRIPTEUR</h2>
        </div>
    </section>

    <section class="row mt-0 mb-3">
        <div class="row g-0">
            <div class="col-12 px-0">
                <h3>Le prescripteur</h3>
            </div>
            <div class="col-2">
                <p class="my-1 py-1">Structure :</p>
            </div>
            <div class="col-4">
                <p class="bg-light rounded-1 my-1 py-1">{{ prescription.membre.nameStructure }}</p>
            </div>
            <div class="clear"></div>
            <div class="col-2">
                <p class="my-1 py-1">Nom & Prénom :</p>
            </div>
            <div class="col-4">
                <p class="bg-light rounded-1 my-1 py-1">{{ prescription.membre.contactResponsableCivility }} {{ prescription.membre.contactResponsableLastname }} {{ prescription.membre.contactResponsableFirstname }}</p>
            </div>
            <div class="clear"></div>
            <div class="col-4">
                <p class="my-1 py-1">Télephone du prescripteur :</p>
            </div>
            <div class="col-4">
                <p class="bg-light rounded-1 my-1 py-1">{{ prescription.membre.contactPhone }}</p>
            </div>
            <div class="clear"></div>
            <div class="col-4">
                <p class="my-1 py-1">Email du prescripteur :</p>
            </div>
            <div class="col-4">
                <p class="bg-light rounded-1 my-1 py-1">{{ prescription.membre.contactEmail }}</p>
            </div>
        </div>
    </section>

    <section class="row mb-3">
        <div class="row g-0">
            <div class="col-12 px-0">
                <h3>Motivation de la prescription</h3>
                <p>A compléter par le prescripteur :</p>
            </div>
            <div class="col-12 bg-light rounded-1">
                <p class="textarea-like">{{ prescription.details }}</p>
            </div>
            <div class="col-12 px-0 mt-2">
                <p>Évaluation des compétences de base :</p>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>Acquise</th>
                        <td>
                            {% if prescription.baseCompetence == 'Acquises' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>A vérifier</th>
                        <td>
                            {% if prescription.baseCompetence == 'A verifier' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Non acquise</th>
                        <td>
                            {% if prescription.baseCompetence == 'Non acquises' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="row mb-3">
        <div class="row g-0">
            <div class="col-12 px-0">
                <h3>Lieu de médiation numérique</h3>
                <p>A compléter par le prescripteur en concertation avec le bénéficiaire.</p>
            </div>
            <div class="col-12 bg-light rounded-1">
                <p class="textarea-like text-center">{{ prescription.lieuMediation }}</p>
            </div>
        </div>
    </section>

    <div style="break-after: page;"></div>

    <section class="row mb-1">
        <div class="col-12 px-0 mb-1">
            <h2>Partie MEDIATION</h2>
        </div>
    </section>

    <section class="row mb-3">
        <div class="row g-0">
            <div class="col-12 px-0">
                <h3>Diagnostic des compétences numériques</h3>
                <p class="fst-italic">Diagnostic des "compétences numériques de base" réalisé par le médiateur lors de la rencontre initial en appui au référentiel du CLEA Numérique (https://www.certificat-clea.fr/clea-numerique/referentiel-clea-numérique/)</p>
            </div>
            <div class="col-12 px-0">
                <p class="fw-semibold">A completer par le médiateur</p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Compétences</th>
                        <th class="text-center">Acquis</th>
                        <th class="text-center">En cours</th>
                        <th class="text-center">Non acquis</th>
                    </tr>
                    </thead>
                    <tbody>

                    <!-- LES BASES -->
                    <tr>
                        <td>Les bases</td>

                        <td class="text-center">
                            {% if comp.compBase == 'acquis' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>

                        <td class="text-center">
                            {% if comp.compBase == 'encours' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>

                        <td class="text-center">
                            {% if comp.compBase == 'Nonacquis' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- TEXTE & DOCUMENTS -->
                    <tr>
                        <td>Texte et documents</td>

                        <td class="text-center">
                            {% if comp.compDesk == 'acquis' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>

                        <td class="text-center">
                            {% if comp.compDesk == 'encours' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>

                        <td class="text-center">
                            {% if comp.compDesk == 'Nonacquis' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- INTERNET -->
                    <tr>
                        <td>Internet</td>

                        <td class="text-center">
                            {% if comp.compInternet == 'acquis' %}
                                <i class="fa-regular fa-square-checks"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>

                        <td class="text-center">
                            {% if comp.compInternet == 'encours' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>

                        <td class="text-center">
                            {% if comp.compInternet == 'Nonacquis' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- EMAIL -->
                    <tr>
                        <td>Messagerie électronique</td>

                        <td class="text-center">
                            {% if comp.compEmail == 'acquis' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>

                        <td class="text-center">
                            {% if comp.compEmail == 'encours' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>

                        <td class="text-center">
                            {% if comp.compEmail == 'Nonacquis' %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>
                    </tr>

                    </tbody>
                </table>
                <p>
                    {% if prescription.competence.autoEva == 1 %}
                        <i class="fa-regular fa-square-check"></i>
                    {% else %}
                        <i class="fa-regular fa-square"></i>
                    {% endif %}
                    L'auto-évaluation du bénéficiaire a été réalisée avant l'action.
                </p>
            </div>

        </div>
    </section>

    <section class="row mb-3">
        <div class="row g-0">
            <div class="col-12 px-0">
                <h3>Les objectifs de la médiation</h3>
                <p class="fst-italic">
                    Compétences à travailler (référentiel DIGCOMP) : https://eduscol.education.fr/document/20392/download
                </p>
                <p><b>A compléter par le médiateur</b></p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Compétences</th>
                            <th class="text-center">Objectifs</th>
                        </tr>
                    </thead>
                    <tbody>

                    <!-- LES BASES -->
                    <tr>
                        <td>0 - Compétences matérielles</td>
                        <td class="text-center">
                            {% if comp.isDigComp0 == 1 %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- TEXTE & DOCUMENTS -->
                    <tr>
                        <td>1 - Information et données</td>
                        <td class="text-center">
                            {% if comp.isDigComp1 == 1 %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- INTERNET -->
                    <tr>
                        <td>2 - Communication et collaboration</td>
                        <td class="text-center">
                            {% if comp.isDigComp2 == 1 %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- EMAIL -->
                    <tr>
                        <td>3 - Création de contenus</td>
                        <td class="text-center">
                            {% if comp.isDigComp3 == 1 %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>4 - Protection et sécurité</td>
                        <td class="text-center">
                            {% if comp.isDigComp4 == 1 %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>5 - Environnement numérique</td>
                        <td class="text-center">
                            {% if comp.isDigComp5 == 1 %}
                                <i class="fa-regular fa-square-check"></i>
                            {% else %}
                                <i class="fa-regular fa-square"></i>
                            {% endif %}
                        </td>
                    </tr>

                    </tbody>
                </table>

                <p>Precisez ci-dessous le parcours de médiation acté entre le bénéficiaire et le médiateur.</p>
            </div>
            <div class="col-12 px-0 bg-light rounded-1">
                <p class="textarea-like">
                    {% if prescription.competence.detailParcour is null %}
                        Aucun détails du parcours de formation n'a été fournis par le médiateur.
                    {% else %}
                        {{ prescription.competence.detailParcour }}
                    {% endif %}
                </p>
            </div>
            <div class="col-12 px-0">
                <p>
                    {% if prescription.competence.autoEva == 1 %}
                        <i class="fa-regular fa-square-check"></i>
                    {% else %}
                        <i class="fa-regular fa-square"></i>
                    {% endif %}
                    L'auto-évaluation du bénéficiaire a été réalisée après l'action.
                </p>
            </div>
        </div>
    </section>

    <section class="row mb-5">
        <div class="col-12 px-0">
            <h2>Remise de l'ordinateur</h2>
        </div>
        <div class="col-4 px-0">
            <p class="my-1 py-1">Id de l'ordinateur :</p>
        </div>
        <div class="col-4">
            <p class="bg-light rounded-1 my-1 py-1">{{ prescription.equipement.equipmentId }}</p>
        </div>
    </section>
    <section class="row mb-5">
        <div class="col-6">
            <div class="row">
                <div class="col-4 px-0">
                    <p class="my-1 py-1">Fait à :</p>
                </div>
                <div class="col-8">
                    <p class="bg-light rounded-1 my-1 py-1">{{ prescription.lieuMediation.city }}</p>
                </div>
                <div class="clear"></div>
                <div class="col-4 px-0">
                    <p class="my-1 py-1">Le :</p>
                </div>
                <div class="col-8">
                    <p class="bg-light rounded-1 my-1 py-1">{{ prescription.createdAt|date('d-m-Y') }}</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <p>Signature du bénéficiaire :</p>
            <div style="background-color: #f2f2f2;height:120px;width:300px;padding:10px;border-radius: 0.25rem;">

            </div>
        </div>
    </section>

    <section class="row mb-3">
        <div class="col-12 px-0">
            <h2>Mentions légales (RGPD)</h2>
            <p>
                Les informations personnelles collectées pourront faire l'objet d'un traitement ayant pour finalité l'envoi de compterendu ou d'informations en lien avec les objectifs du séminaire. Ces informations sont à destination exclusive des
                services de l'ALPI. Elles sont conservées 3 ans. Conformément au Règlement (UE) 2016/679 relatif à la protection des
                données à caractère personnel, vous disposez des droits suivants sur vos données : droit d’accès, droit de rectification,
                droit à l’effacement (droit à l’oubli), droit d’opposition, droit à la limitation du traitement, droit à la portabilité. Pour
                exercer vos droits, merci d’adresser votre demande par courrier postale au 175 place de la Caserne Bosquet - 40000
                Mont-de-Marsan ou par mail à dpo@alpi40.fr Sous réserve d’un manquement à aux dispositions ci-dessus, vous avez
                le droit d’introduire une réclamation auprès de la CNIL.
            </p>
        </div>
    </section>

</main>

</body>
</html>
