<!-- Tableau prescriptions -->
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="table-light">
        <tr>
            <th class="col-3">Ref</th>
            <th class="col-2">Bénéficiaire</th>
            <th class="col-2">Prescripteur</th>
            <th class="col-2">Espace de médiation</th>
            <th class="col-1">Equipement</th>
            <th class="col-2">Etat</th>
        </tr>
        </thead>

        <tbody id="tbody_index_prescription">
            {% if prescriptions is empty %}
                <tr class="align-middle">
                    <td colspan="6">Pas de réusltats</td>
                </tr>
            {% else %}
                {% for prescription in prescriptions %}
                <tr class="align-middle">
                    <td class="position-relative">
                        <a href="{{ path('app_gestapp_prescription_edit', {'id': prescription.id}) }}" class="stretched-link"></a>
                        {{ prescription.ref }}
                    </td>
                    <td class="position-relative">
                        <a href="{{ path('app_gestapp_prescription_edit', {'id': prescription.id}) }}" class="stretched-link"></a>
                        {% if prescription.beneficiaire is not empty %}
                            {{ prescription.beneficiaire.firstname }} {{ prescription.beneficiaire.lastname }}
                        {% else %}
                            non disponible
                        {% endif %}
                    </td>

                    <td class="position-relative">
                        <a href="{{ path('app_gestapp_prescription_edit', {'id': prescription.id}) }}" class="stretched-link"></a>
                        {{ prescription.prescriptor.name }}
                    </td>
                    <td class="position-relative">
                        <a href="{{ path('app_gestapp_prescription_edit', {'id': prescription.id}) }}" class="stretched-link"></a>
                        {{ prescription.lieuMediation }}
                    </td>
                    <td class="position-relative">
                        <a href="{{ path('app_gestapp_prescription_edit', {'id': prescription.id}) }}" class="stretched-link"></a>
                        {% if prescription.equipement is not null %}
                            {{ prescription.equipement }}
                        {% endif %}
                    </td>
                    <td class="position-relative">
                        {{ include('gestapp/prescription/include/badge.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
