<!-- Tableau prescriptions -->
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="table-light">
        <tr class="align-middle">
            <th><input type="checkbox" class="form-check mb-0"></th>
            <th class="col-2">Ref</th>
            <th class="col-2">Bénéficiaire</th>
            <th class="col-2">Espace de médiation</th>
            <th class="col-3"></th>
            <th class="col-3"></th>
        </tr>
        </thead>

        <tbody id="tbody_index_prescription">
            {% if prescriptions is empty %}
                <tr class="align-middle">
                    <td colspan="6">Pas de résultats</td>
                </tr>
            {% else %}
                {% for prescription in prescriptions %}
                <tr class="align-middle">
                    <td><input type="checkbox" class="form-check mb-0"></td>
                    <td class="position-relative">
                        <a href="{{ path('app_gestapp_prescription_edit', {'id': prescription.id}) }}" class="stretched-link"></a>
                        <p class="mb-0">{{ prescription.ref }}<br><span class="text-muted">{{ prescription.closedAt ? prescription.closedAt|date('d/m/Y') : 'non renseigné' }}</span></p>
                    </td>
                    <td class="position-relative">
                        <a href="{{ path('app_gestapp_prescription_edit', {'id': prescription.id}) }}" class="stretched-link"></a>
                        <p class="mb-0">
                        {% if prescription.beneficiaire is not empty %}
                            {{ prescription.beneficiaire.civility.value }} {{ prescription.beneficiaire.firstname }} {{ prescription.beneficiaire.lastname }}
                            <br>
                            <span class="text-muted text-uppercase">{{ prescription.prescriptor.name }}</span>
                        {% else %}
                            non disponible
                        {% endif %}
                        </p>
                    </td>
                    <td class="position-relative">
                        <a href="{{ path('app_gestapp_prescription_edit', {'id': prescription.id}) }}" class="stretched-link"></a>
                        {{ prescription.lieuMediation }}
                    </td>
                    <td class="position-relative">
                        {% if prescription.docuseal is not null %}
                            <div class="d-inline-flex align-items-center">
                                <span class="circle"><i class="fa-sharp fa-light fa-duotone fa-light fa-signature"></i></span>
                                &nbsp;signature éléctronique
                            </div>
                        {% else %}
                            <div class="d-inline-flex align-items-center">
                                <span class="circle"><i class="fa-sharp fa-light fa-duotone fa-light fa-file-pdf"></i></span>&nbsp;Signature manuelle
                            </div>
                        {% endif %}
                    </td>
                    <td class="position-relative">
                        {% if prescription.docuseal is not null %}
                            <div class="d-inline-flex align-items-center">
                                <span class="circle"><i class="fa-sharp fa-light fa-duotone fa-light fa-file-certificate"></i></span>
                                &nbsp;Certificats de signature
                            </div>
                        {% else %}
                            <p class="mb-0"></p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
