<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://kit.fontawesome.com/1fb9149f4c.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="min-vh-100">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg   shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_webapp_public_accueil')}}">Prescription Ordi PIN40</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Liens simples -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_webapp_public_prezDon') }}">Le dispositif</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if app.user %}
                    <!-- Dropdown Login -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mon espace
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="{{ path('app_admin_member_edit', {'id': app.user.id}) }}">Mes informations</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Se deconnecter</a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <!-- Liens simples -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_dashboard_index') }}">Espace de connexion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- CONTENU -->
    <main class="container justify-content-center align-items-center">
        {% block body %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="container-fluid mt-auto  text-dark py-4">
        <div class="row text-center">
            <div class="col"><a class="nav-link" href="{{ path('app_webapp_public_accueil') }}">© 2025 - Precrip Ordi Pin40</a></div>
            <div class="col"> <a class="nav-link" href="{{ path('app_webapp_public_mentions') }}">Mentions Légales</a></div>
            <div class="col">Contact</div>
        </div>
    </footer>
</body>
</html>
