{% block body %}
    <div class="container my-5">
        <h2 class="text-center mb-4">Bienvenue sur votre tableau de bord</h2>

        <div class="row justify-content-center text-center g-4">

            {# 👉 Si le user est ADMIN : afficher les 2 cartes #}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm">
                        <img
                            src="{{ asset('assets/images/dashboard_beneficiary.jpg') }}"
                            class="card-img-top mx-auto d-block mt-3"
                            alt="Médiation"
                            style="width: 100px; height: 100px; object-fit: contain;"
                        >
                        <div class="card-body">
                            <h6 class="card-title">Médiation</h6>
                            <a href="{{ path('app_gestapp_equipment_index') }}" class="btn btn-primary mt-2">Voir plus</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100 shadow-sm">
                        <img
                            src="{{ asset('assets/images/dashboard_prescription.jpg') }}"
                            class="card-img-top mx-auto d-block mt-3"
                            alt="Prescription"
                            style="width: 100px; height: 100px; object-fit: contain;"
                        >
                        <div class="card-body">
                            <h6 class="card-title">Prescription</h6>
                            <a href="{{ path('app_gestapp_prescription_index') }}" class="btn btn-primary mt-2">Voir plus</a>
                        </div>
                    </div>
                </div>

                {# 👉 Sinon si le user est MEDIATEUR : afficher uniquement la carte Médiation #}
            {% elseif is_granted('ROLE_MEDIATEUR') %}
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm">
                        <img
                            src="{{ asset('assets/images/dashboard_beneficiary.jpg') }}"
                            class="card-img-top mx-auto d-block mt-3"
                            alt="Médiation"
                            style="width: 100px; height: 100px; object-fit: contain;"
                        >
                        <div class="card-body">
                            <h6 class="card-title">Médiation</h6>
                            <a href="{{ path('app_gestapp_equipment_index') }}" class="btn btn-primary mt-2">Voir plus</a>
                        </div>
                    </div>
                </div>

                {# 👉 Sinon si le user est PRESCRIPTEUR : afficher uniquement la carte Prescription #}
            {% elseif is_granted('ROLE_PRESCRIPTEUR') %}
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm">
                        <img
                            src="{{ asset('assets/images/dashboard_prescription.jpg') }}"
                            class="card-img-top mx-auto d-block mt-3"
                            alt="Prescription"
                            style="width: 100px; height: 100px; object-fit: contain;"
                        >
                        <div class="card-body">
                            <h6 class="card-title">Prescription</h6>
                            <a href="{{ path('app_gestapp_prescription_index') }}" class="btn btn-primary mt-2">Voir plus</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
