{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-4">

        <h2 class="text-center mb-4">Bienvenue sur votre tableau de bord</h2>

        {# --- Section chiffre ordi dispo et nombre prescriptions --- #}
        <div class="row mb-4">
            <div class="col-md-3 mb-3">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <h5 class="card-title">Machines disponibles</h5>
                        <p class="display-6">{{ equipments|length }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <h5 class="card-title">Prescriptions enregistrées</h5>
                        <p class="display-6">{{ prescriptions|length }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="d-flex d-flex-inline mb-3 border-bottom border-dark bg-light justify-content-between py-2 px-1">
                <div class="col-6">
                    <h3 class="text-uppercase mb-0">Liste des prescriptions</h3>
                </div>
                <div class="col-6">
                    <p class="mb-0 text-end">
                        {% include 'composants/forms/button_creatnew.html.twig' with {
                            label: 'nouvelle prescription',
                            style: 'btn btn-outline-dark btn-sm',
                            href: path('app_gestapp_prescription_new')
                        } %}
                    </p>

                </div>
            </div>

            <table class="table table-hover">
                <thead class="table-light">
                    <th>Ref</th>
                    <th>Nom et Prénom</th>
                    <th>Structure</th>
                    <th>Espace</th>
                </tr>
                </thead>
                <tbody>
                {% for prescription in prescriptions %}
                    <tr>
                        <td>{{ prescription.ref }}</td>

                        <td>
                            {% if prescription.beneficiaire is not empty %}
                                {{ prescription.beneficiaire.firstname }} {{ prescription.beneficiaire.lastname }}
                            {% else %}
                                non disponible
                            {% endif %}
                        </td>

                        <td>{{ prescription.membre.nameStructure }}</td>

                        <td>{{ prescription.lieuMediation }}</td>

                        <td>
                            {% include 'composants/forms/button_link.html.twig' with {
                                label:'edit',
                                href: path('app_gestapp_prescription_edit', {'id': prescription.id})

                            }%}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-start text-muted">Aucune prescription disponible</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 justify-content-evenly">
            {# --- Admin ? Médiateur ? Prescripteur ? --- #}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MEDIATEUR') or is_granted('ROLE_PRESCRIPTEUR') %}
                {% include 'composants/forms/button_creatnew.html.twig' with {
                    label: 'Créer un nouveau bénéficiaire',
                    style: null,
                    href: path('app_gestapp_beneficiary_new')
                } %}

                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MEDIATEUR') %}
                    {% include 'composants/forms/button_creatnew.html.twig' with {
                        label: 'Créer un nouveau prescripteur',
                        style: null,
                        href: path('app_admin_member_new', {'role': 'prescripteur'})
                    } %}
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    {% include 'composants/forms/button_creatnew.html.twig' with {
                        label: 'Créer un nouveau médiateur',
                        style: null,
                        href: path('app_admin_member_new', {'role': 'mediateur'})
                    } %}
                {% endif %}

                {% include 'composants/forms/button_creatnew.html.twig' with {
                    label: 'Nouveau équipement',
                    style: null,
                    href: path('app_gestapp_equipment_new')
                } %}
            {% endif %}
        </div>
    </div>
{% endblock %}
