{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-2">

        <!-- Titre -->
        <h2 class="text-center mt-2 mb-2 text-success">Bienvenue sur votre tableau de bord</h2>

        {# --- Section chiffres : ordis dispo & prescriptions --- #}
        <div class="row mb-4">

            <div class="col-md-3 mb-3">
                <div class="border rounded border-success-subtle p-3 text-center h-100">
                    <h5 class="card-title">Machines disponibles</h5>
                    <p class="display-6">{{ equipments|length }}</p>
                </div>
            </div>

            <div class="col-md-3 mb-2">
                <div class="border rounded border-success-subtle p-3 text-center h-100">
                    <h5 class="card-title">Prescriptions enregistrées</h5>
                    <p class="display-6">{{ prescriptions|length }}</p>
                </div>
            </div>

        </div>

        <!-- En-tête de la liste des prescriptions -->
        <div class="col-12">
            <div class="d-flex mt-2 mb-2 border-bottom border-dark bg-light justify-content-between py-2 px-1">

                <div class="col-6">
                    <h3 class="text-success mt-1 mb-1">Liste des prescriptions</h3>
                </div>

                <div class="col-6">
                    <p class="mb-0 text-end">
                        {% include 'composants/forms/button_creatnew.html.twig' with {
                            label: 'nouvelle prescription',

                            href: path('app_gestapp_prescription_new')
                        } %}
                    </p>
                </div>

            </div>
        </div>

        <!-- Tableau prescriptions -->
        <table class="table table-hover">
            <thead class="table-light">
            <tr>
                <th>Ref</th>
                <th>Nom et Prénom</th>
                <th>Structure</th>
                <th>Espace</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for prescription in prescriptions %}
                <tr>
                    <td>{{ prescription.ref }}</td>

                    <td>
                        {% if prescription.beneficiaire is not empty %}
                            {{ prescription.beneficiaire.firstname }} {{ prescription.beneficiaire.lastname }}
                        {% else %}
                            non disponible
                        {% endif %}
                    </td>

                    <td>{{ prescription.membre.nameStructure }}</td>
                    <td>{{ prescription.lieuMediation }}</td>

                    <td>
                        <button type="button"
                                class="btn btn-outline-success"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Décrire en 5 ou 6 lignes les motivations du bénéficiaire">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>

                    </td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="5" class="text-start text-muted">Aucune prescription disponible</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <!-- Boutons admin-->
        <div class="col-12 d-flex justify-content-center gap-2 flex-wrap my-3">

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MEDIATEUR') or is_granted('ROLE_PRESCRIPTEUR') %}

                {% include 'composants/forms/button_creatnew.html.twig' with {
                    label: 'Créer un nouveau bénéficiaire',
                    style: null,
                    href: path('app_gestapp_beneficiary_new')
                } %}

                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MEDIATEUR') %}
                    {% include 'composants/forms/button_creatnew.html.twig' with {
                        label: 'Créer un nouveau prescripteur',
                        style: null,
                        href: path('app_admin_member_new', {'role': 'prescripteur'})
                    } %}
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    {% include 'composants/forms/button_creatnew.html.twig' with {
                        label: 'Créer un nouveau médiateur',
                        style: null,
                        href: path('app_admin_member_new', {'role': 'mediateur'})
                    } %}
                {% endif %}

                {% include 'composants/forms/button_creatnew.html.twig' with {
                    label: 'Nouveau équipement',
                    style: null,
                    href: path('app_gestapp_equipment_new')
                } %}

            {% endif %}
        </div>

    </div>
{% endblock %}
