{{ form_start(form, {'attr': {'id': 'equipment_form'}}) }}

{{ form_row(form.typeEquipment) }}
{{ form_row(form.brandEquipment) }}
{{ form_row(form.matriculEquipment) }}
{{ form_row(form.osInstalled) }}
{{ form_row(form.statusEquipment) }}
{{ form_row(form.isDispo) }}

<button class="btn">Save</button>

{{ form_end(form) }}
